* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: helvetica;
}
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --font-size-base: 16px;
}
.container {
  background-image: url("/media/images/bg_gradient_2.jpeg");
  background-size: cover;
  display: flex;
}
.container_navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100px;
  background: #17041f;
  border-radius: 0px 52px 52px 0px;
}
.container_navbar_logo {
  margin-top: 70px;
}
.container_navbar_logo img {
  width: 100px;
}
.container_navbar_nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav_icon {
  width: 44px;
  height: 44px;
  opacity: 0.4;
  transition: all 0.8s;
}
.nav_icon:hover {
  opacity: 1;
  transform: scale(1.1);
}
#selected {
  opacity: 1;
  transform: scale(1.1);
}
.container_navbar_user {
  margin-bottom: 80px;
}
.container_navbar_user img {
  width: 64px;
  opacity: 0.7;
  transition: all 0.8s;
}
.container_navbar_user img:hover {
  opacity: 1;
  transform: scale(1.1);
}
.container_content {
  margin: 20px;
  width: 1780px;
  border-radius: 52px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.container_content_header {
  height: 200px;
  display: flex;
  justify-content: space-between;
}
.container_content_header_left {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  padding-left: 30px;
}
.container_content_header_left h1 {
  color: #817d839d;
  font-size: 22px;
}
.container_content_header_left h2 {
  color: #17041f;
  font-size: 30px;
}
.container_content_header_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
}
.container_content_header_right_user {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 4px;
  border-radius: 28px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  height: 56px;
  width: 100px;
  transition: all 0.8s;
}
.container_content_header_right_user:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.container_content_header_right_user img {
  width: 44px;
  border-radius: 22px;
}
#dropdown_icon {
  width: 32px;
}
.container_content_header_right_date {
  margin-bottom: 10px;
  margin-right: 10px;
  font-weight: 700;
}
.container_content_body {
  height: 730px;
  display: flex;
}
.container_content_footer {
  text-align: end;
  padding-right: 30px;
  position: absolute;
  top: 930px;
  right: 20px;
}
.container_content_body_left_top_dash {
  height: 250px;
  display: flex;
}
.container_content_body_left_top_userdata {
  height: 250px;
  width: 500px;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
  transition: all 0.8s;
}
.container_content_body_left_top_userdata:hover {
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.container_content_body_left_top_otherdata {
  height: 250px;
  width: 700px;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}
.container_content_body_left_top_otherdata:hover {
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.container_content_body_left_bottom {
  height: 440px;
  width: 1220px;
  margin: 20px;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}
.container_content_body_left_bottom:hover {
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.container_invoice_summary {
  height: 400px;
  width: 480px;
  border-radius: 32px;
  margin-bottom: 20px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}
.container_invoice_summary:hover {
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.container_low_inventory_alert {
  height: 290px;
  width: 480px;
  border-radius: 32px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}
.container_low_inventory_alert:hover {
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.container_content_body_clientinfo {
  height: 150px;
  width: 1000px;
  margin-bottom: 20px;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}
.container_content_body_clientinfo:hover {
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.container_content_body_items {
  height: 300px;
  width: 1000px;
  margin-bottom: 20px;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}
.container_content_body_items:hover {
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.container_content_body_left_bottom_nwinv {
  display: flex;
}
.container_content_body_additionalcosts {
  height: 220px;
  width: 580px;
  margin-right: 20px;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}
.container_content_body_additionalcosts:hover {
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.container_content_body_subtotal {
  height: 150px;
  width: 400px;
  margin-bottom: 20px;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}
.container_content_body_subtotal:hover {
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.container_content_body_completebtn button {
  width: 400px;
  height: 50px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 1s;
}
.container_content_body_completebtn button:hover {
  background: green;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  cursor: pointer;
  color: white;
}
.container_content_body_receipt {
  height: 708px;
  width: 700px;
  margin-left: 20px;
  padding: 20px;
  border-bottom-right-radius: 32px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;
}
.container_content_body_receipt:hover {
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
#receipt_preview {
  height: 668px;
  width: 660px;
  border-bottom-right-radius: 12px;
  background: rgb(245, 245, 245);
  backdrop-filter: blur(3px);
  transition: all 1s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.container_content_body_receipt:hover #receipt_preview {
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}
#container_content_body_invoice_list {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
}
.container_content_body_top_inv1 {
  display: flex;
  justify-content: space-between;
}
.container_range_format_dropdown {
  width: 200px;
  height: 36px;
  border-radius: 18px;
  border: none;
  background: rgba(255, 255, 255, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.8s;
  padding: 0px 20px 0px 20px;
}
.container_range_format_dropdown:hover {
  cursor: pointer;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.75);
}
.container_daterange_input_invl {
  margin: 14px 0px 20px 0px;
  display: flex;
  gap: 10px;
}
.container_daterange_input_invl input {
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: rgb(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.35);
  padding: 0px 20px 0px 20px;
  color: rgba(255, 255, 255, 0.35);
  transition: all 0.8s;
}
.container_daterange_input_invl input:hover {
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.container_content_body_top_right_inv1 {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.container_content_body_top_right_inv1 button {
  width: 150px;
  height: 36px;
  border-radius: 18px;
  border: none;
  background: rgba(255, 255, 255, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.8s;
}
.container_content_body_top_right_inv1 button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.container_content_body_invoice_table {
  height: 604px;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.8s;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.container_content_body_invoice_table:hover {
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.container_content_body_invoice_table_title {
  height: 50px;
  border-radius: 32px 32px 0px 0px;
  background: rgba(0, 0, 0, 0.404);
  backdrop-filter: blur(3px);
  transition: all 0.8s;
}
#container_content_body_inventory {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
}
.container_content_body_top_left_invt {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.container_sort_type_dropdown {
  width: 200px;
  height: 36px;
  border-radius: 18px;
  border: none;
  background: rgba(255, 255, 255, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.8s;
  padding: 0px 20px 0px 20px;
}
.container_sort_type_dropdown:hover {
  cursor: pointer;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.75);
}
.container_sort_order_dropdown {
  width: 200px;
  height: 36px;
  border-radius: 18px;
  border: none;
  background: rgba(255, 255, 255, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.8s;
  padding: 0px 20px 0px 20px;
}
.container_sort_order_dropdown:hover {
  cursor: pointer;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.75);
}
.container_content_body_top_invt {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container_content_body_top_right_invt {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.container_content_body_top_right_invt button {
  width: 150px;
  height: 36px;
  border-radius: 18px;
  border: none;
  background: rgba(255, 255, 255, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.8s;
}
.container_content_body_top_right_invt button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.container_content_body_inventory_table {
  height: 604px;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  margin-top: 20px;
  transition: all 0.8s;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.container_content_body_inventory_table:hover {
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.container_content_body_inventory_table_title {
  height: 50px;
  border-radius: 32px 32px 0px 0px;
  background: rgba(0, 0, 0, 0.404);
  backdrop-filter: blur(3px);
  transition: all 0.8s;
}
